
/*verde claro*/
.backcolor{

background-color: rgb(240,255,240);
}



/*verde */
.backcolor2{

    background-color: rgb(47,79,79);
    }

/*azul metalico*/
.backcolor3{

    background-color: rgb(70,130,180);
    }
